<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
     <a class="navbar-brand py-0" href="#">
      <img src="https://uedi.ingenieria.usac.edu.gt/campus/pluginfile.php/1/core_admin/logocompact/300x300/1755017790/uedilogo.png" alt="Logo" width="150" height="55" ></a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="logout()" >Regresar al Login</a>
          </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="verPerfil()" >Ver perfil</a>
          </li>
        </ul>
    <form class="d-flex" role="search">
      <input class="form-control me-2" data-bs-theme="light" type="search" placeholder="Buscar usuarios" aria-label="Search"/>
      <button class="btn btn-success" type="submit">Buscar</button>
    </form>
  </div>
</nav>

<div class="container mt-4">
  <h2>Filtros</h2>
  <div class="row g-3 mb-4">
    <div class="col-md-3">
      <input [(ngModel)]="filtroCurso" class="form-control" placeholder="Filtrar por Curso">
    </div>
    <div class="col-md-3">
      <input [(ngModel)]="filtroCatedratico" class="form-control" placeholder="Filtrar por Catedrático">
    </div>

    <!-- Combo box con las opciones de orden alfabético -->
    <div class="col-md-3">
    <select [(ngModel)]="ordenSeleccionado" class="form-select">
      <option value="">Sin orden alfabético</option>
      <option value="curso">Ordenar por Curso (A–Z)</option>
      <option value="catedratico">Ordenar por Catedrático (A–Z)</option>
    </select>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-4">
    <button class="btn btn-primary" [routerLink]="['/posts']">
      <i class="bi bi-plus-circle"></i> Crear Publicación
    </button>
  </div>
  </div>

  <h3>Publicaciones</h3>
  <div *ngIf="publicacionesFiltradas.length > 0; else noResultados">
    <ul class="list-group">
      <li *ngFor="let pub of publicacionesFiltradas" class="list-group-item">
        <strong>{{ pub.curso }}</strong> - {{ pub.tipo === 'course' ? 'Curso' : 'Catedrático' }}
        <br>
        <p>{{ pub.mensaje }}</p>
        <small>
          Publicado por: {{ pub.nombre }} {{ pub.apellido }} | 
          Fecha: {{ pub.fechaCreacion | date:'short' }}
        </small>
      </li>
    </ul>
  </div>

  <ng-template #noResultados>
    <p>No hay publicaciones</p>
  </ng-template>
</div>